.rectangle{
    width: 200px;
    height: 100px;
    border: 2px solid grey;
    background-color: white;
    /*position: relative;*/
}
.circle{
    /*position: absolute;*/
    height: 70px;
    width: 70px;
    background-color: #c30028;
    border-radius: 50%;
    /*display: inline-block;*/
    /*margin-left: 60px;*/
    /*margin-top: 15px;*/
    margin: 7% auto;
}